[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[color "diff"]
  whitespace = red reverse

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,cr-at-eol

[grep]
  lineNumber = true

[init]
  defaultBranch = main

[push]
  default = current

[pull]
  rebase = true

[rerere]
	enabled = true

[user]
  name = Pamplemousse
  email = xav.maso@gmail.com
