[user]
  name = Pamplemousse
  email = xavier.maso@net-c.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[color "diff"]
    whitespace = red reverse

[push]
    default = current

[core]
    editor = subl
    excludesfile = ~/.gitignore_global
    whitespace = space-before-tab,cr-at-eol
